<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Text Analyser. Enter your Text</h1>
    <form action="/analyze" method = "get">
        <textarea name="text" id="" cols="30" rows="10" style='margin: 0px; width: 1508px; height: 277px;'></textarea>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="fullcaps">UPPERCASE<br>
        <input type="checkbox" name="newlineremover">New Line Remover<br>
        <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
        <input type="checkbox" name="countchar">Character Counter<br>
        <button type = "submit">Analyze Text</button>
    </form>
</body>
</html>